<!DOCTYPE html>
<html>
    <head>
     <link rel="stylesheet" href="./css/styles.css" >
    </head>

    <body>
    {{>header}}
    
    <form>
        <input placeholder="Enter Location">
        <button>Search</button>
    </form>

    <p id="message_1"></p>
    <p id="message_2"></p>

    
         <script src="/js/app.js" > </script>
    </body>
</html>